<div class="container">
  <div class="item">
    <app-card
      [icon]="'../assets/icons/icon-hand.png'"
      [title]="'Saldo Disponível'"
      [value]="'100'"
      [cardContent]="firstCardContent"
      [cardAmount]="firstCardAmount"
      [hasCard]="true"
    />
  </div>
  <div class="item">
    <app-card
      [icon]="'../assets/icons/icon-credit-card.png'"
      [title]="'Cartão de Crédito'"
      [cardContent]="secondCardContent"
      [hasCard]="true"
    />
  </div>
  <div class="item">
    <app-card
      [icon]="'../assets/icons/icon-debit-card.png'"
      [title]="'Cartão de Débito'"
      [hasCard]="false"
    />
  </div>
  <div class="item">
    <!-- <app-client-infos-card /> -->
  </div>
</div>
