/* You can add global styles to this file, and also import other style files */
*{
  background-color: #444444;
}


.my-text{
  background-color: orange;
  color: white;
}

.my-size{
  font-size: 24px;
}
