.card {
  &__header {
    display: flex;
    align-items: center;
    p {
      font-size: 20px;
    }
  }

  &__header-title {
    display: flex;
    align-items: center;
    margin-right: auto;

    h1 {
      font-size: 20px;
    }
  }

  &__header-icon {
    width: 40px;
    margin-right: 10px;
}
}
