<app-card>
    <app-card-header>
        <app-card-title title="Cartão de Crédito" icon="icon-credit-card.png"></app-card-title>
    </app-card-header>
    <app-card-content>
        <div class="ca-c-card-item">
            <p appCardDescriptionText>
                1234567891011 <br />
                FELIPE DA SILVA FREITAS
            </p>

            <p appCardDescriptionText>MASTER CARD</p>
        </div>

        <app-card-item text="Limite de Compra" value="R$ 1000,00"></app-card-item>

        <app-card-line></app-card-line>

        <app-card-item text="Disponível" value="R$ 1200,00"></app-card-item>

        <app-card-item text="Limite de Saque" value="R$ 2000,00"></app-card-item>

        <app-card-line></app-card-line>

        <app-card-item text="Disponível" value="R$ 1300,00"></app-card-item>

        <app-card-item text="Limite Total Utilizado" value="R$ 3000,00"></app-card-item>
    </app-card-content>
</app-card>