<app-card>
    <app-card-header [attr.color]="color">
        <app-card-title title="Informações do Cliente" icon="icon-client.png"></app-card-title>
    </app-card-header>
    <app-card-content>
        <app-card-item text="Nome" value="Felipe da Silva Freitas"></app-card-item>

        <app-card-line></app-card-line>

        <app-card-item text="Idade" value="26 anos"></app-card-item>

        <app-card-line></app-card-line>

        <app-card-item text="Renda Mensal" value="R$ -1000,00"></app-card-item>

        <app-card-line></app-card-line>

        <app-card-item text="Nacionalidade" value="Brasileiro"></app-card-item>
    </app-card-content>
</app-card>