.balance-card {
    &__header {
        display: flex;
        align-items: center;

        p {
            font-size: 20px;
            margin-left: auto;
        }
    }

    &__content-summary {
        margin-top: 30px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 0px 12px;
    }
}