@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgray;
    font-family: 'Poppins', sans-serif;
}
