<div class="card">
  <app-card-text-title>Sou o título do card</app-card-text-title>

  <app-card-text-subtitle>Sou o subtítulo do card</app-card-text-subtitle>

  <app-card-text-description color="green">Sou a descrição do card</app-card-text-description>

  <app-card-avatar-small>
    <img src="../assets/images/lhaminha1.jpg" class="ca-u-card-avatar-small">
  </app-card-avatar-small>
  
  <app-card-avatar-large>
    <img src="../assets/images/lhaminha1.jpg" class="ca-u-card-avatar-large">
  </app-card-avatar-large>
</div>
